{% extends 'basic/main.html' %}{% block content %}
<h1>Real Time Notification app</h1>
<h3>
    <b>Notification Count:{{unread_notification_count}}</b>
</h3>
<ul>
    {% for unread_notification in unread_notifications %}
    <li>{{unread_notification}}</li>
    {% endfor %}
</ul>
{% endblock %}

<!--ajax -->
<ul id="testList">
</ul>

<script>
    function showNumbers() {
        for (var i = 0; i < 3; i++) {
            $('#testList').append(`<li>Number ${i}</li>`)
        }
    }

    // window.setInterval(function(){
    //   showNumbers();
    // }, 1000);
</script>